body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:lightslategray;
    
}

p {
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    
}

.gridTwo > .section1 {
    background-color:red;
}

.gridTwo > .section2 {
    background-color:blue;
}

.gridTwo > .section3 {
    background-color:yellow;
}

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
}

.text_three {
    background-color:lightgrey;
}

.winter_section {
    background-color: lightblue;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color:green;
}

#nested-box2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color:lightgray;
}

#section-box2 {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    width: 500px;
    background-color: lightgray; 
}


.star_icon {
    font-size: 24px;
}

.text_with_gfont p {
    font-family: 'Open Sans', sans-serif;
}